
.page-err {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 3rem 1rem;
}
.divTransform{
	opacity: 1; 
	transform: translate(0px, 0px);
}

@media (min-width:768px) {
	.page-err {
		padding: 7.5rem 0 0;
	}
}

.page-err .err-container {
	padding: 1rem .625rem
}

.page-err .err-code-container {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	border: 2px solid #000000;
	padding: 28px;
	margin: 0 auto 1.5rem;
}

.page-err .err-code-container .err-code {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: #000000;
	color: #fff
}

.page-err .err-code-container h1 {
	font-size: 5.625rem;
	line-height: 220px;
	font-weight: 300;
	margin: auto;
}

.page-err h2 {
	font-size: 1.875rem;
	line-height: 2.5rem;
	font-weight: 300;
	opacity: .8;
	margin-bottom: 1.5rem;
}

.btn-options {
	border: 0;
	padding: 8px 16px; 
	font-size: 24px; }